*.Rproj
*.Rhistory
/.Rproj.user
**.RData
.Ruserdata
*.zip
*.jld2

*.json

myEnvironment/
zenodo/

*pamhLocal*

exclude-file.txt
include-file.txt
rsync*

# Ignore large data files that will probably not change very much. Instead, these files are backed up locally to at least an external harddrive 


# Output and intermediate files that requires post-processing (e.g. PDF, .ai, .jpg, *.png) and excel spreadsheet files (*.xlsx, *.xls) files are synced to a corresponding
# folder on OneDrive. ROBOCOPY BAT file on task scheduler handles this sync
# ```

# ```




*.pdf
post_process/*.ai
# post_output/*.pdf
# post_process/*.ai
**/*.ai
*.ait
**.jpg
**.png
**.xlsx
**.xls
*.docx
*.svg

data/WWF_Australia/*

data/tree/v3_01_combo.txt
data/tree/v3_02_combo.txt
manuscript_supplement_files/*
*.html

*.log

# QGIS files
*.cpg
*.qgz
*.tmp
key_sync.txt
data/WWF_Australia/*
*.dbf 
*.prj 
*.shp 
*.shx 
*.qpj